<% include ../partials/header %>

<div class="ui container main-content">
    <div class="ui grid">
        <div class="stackable two column row">
            <div class="column">
                <h1 class="ui header" id="show-header"><%= post.title %></h1>
                <div class="ui top attached">
                    <div class="content" class="author-info">
                        by: <%=post.author.username%>
                    </div>
                    <div class="content time-stamps">
                        <% let createdMinutes = post.created.getMinutes()%>
                        <%if(createdMinutes<10){%>
                            <%createdMinutes = "0"+createdMinutes%>
                        <%}%>
                        <% let editedMinutes = post.edited.getMinutes()%>
                        <%if(editedMinutes<10){%>
                            <%editedMinutes = "0"+editedMinutes%>
                        <%}%>
                        <span>Created: <em><%=post.created.toDateString()%>, <%=post.created.getHours()%>:<%=createdMinutes%></em></span>
                        <%if(user && post.author.username == user.username){%>
                            <span><a href="/posts/<%=post._id%>/edit"><i class="pencil icon"></i></a></span>
                        <%}else{%>
                            <span><i class="pencil icon"></i></span>
                        <%}%>
                        <span>Edited: <em><%=post.edited.toDateString()%>, <%=post.edited.getHours()%>:<%=editedMinutes%></em></span>
                    </div>
                    <div class="content show-summary">
                        <p class="post-summary-show"><%=post.summary%></p>
                    </div>
                </div>                
            </div>
            <div class="column">
                <div class="ui top attached">
                    <div class="item">
                        <img src="<%=post.image%>" class="ui centered rounded image">
                    </div>
                </div>
            </div>
        </div>
        <div class="one column row">
            <div class="ui main text container">
                <div class="column">
                    <div class="ui top attached">
                        <div class="description post-content">
                            <%-post.content%>
                        </div>
                    </div>
                </div>
                <%if(user && post.author.username == user.username){%>
                    <div class="show-buttons">
                        <a href="/posts/<%=post._id%>/edit" class="ui basic violet button">Edit</a>
                        <button class="ui basic red button" id="deletePostButton">Delete</button>
                    </div>    
                <%}%>
            </div>
        </div>
        <!-- Semantic UI Comments -->
        <div class="row">
            <div class="ui main text container">
                <div class="ui comments">
                    <% let noOfComments = ""%>
                    <% if(post.comments.length != 0){%>
                        <%noOfComments = post.comments.length+" " %>
                    <%}%>                    
                    <%let addComment = "/login"%>
                    <%if(user){%>
                        <%addComment = "#comment-field";%>
                    <%}%>
                    <h3 class="dividing header">
                        <%=noOfComments%>Comments
                        <a href="<%=addComment%>" class="ui  mini silver button">Add Comment</a>
                    </h3>
                    <%if(post.comments.length==0){%>
                        <div class="description">
                            <p>No comments yet</p>
                        </div>
                    <%}%>
                    <!-- COMMENT LIST -->
                    <%for(let comment of post.comments){%>
                        <div class="ui segment">
                            <div class="comment">
                                <div class="ui grid">
                                    <div class="fourteen wide column">
                                        <a href="#" class="avatar"><img src="https://semantic-ui.com/images/avatar/small/matt.jpg"></a>
                                        <div class="content">
                                            <a href="#" class="author"><%=comment.author.username%></a>
                                            <div class="metadata">
                                                <span class="date"><%=comment.created.toDateString()%></span>
                                            </div>
                                            <div class="text comment-text">
                                                <%-comment.text%>
                                            </div>
                                            <div class="actions">
                                                <a href="#" class="reply">Reply</a>
                                            </div>
                                        </div>
                                    </div>
                                    <%if(user && comment.author.id.equals(user.id)){%>
                                        <div class="two wide column">
                                                <!-- Delete Comment Button -->
                                                <div class="row">
                                                    <form action="/posts/<%=post.id%>/comments/<%=comment.id%>?_method=DELETE" method="POST" id="delete-comment" class="delete-form">
                                                        <i class="window red trash icon right floated delete-icon"></i>
                                                    </form><!--End of delete comment-->
                                                </div>
                                                <div class="row">
                                                    <a href="/posts/<%=post.id%>/comments/<%=comment._id%>/edit"><i class="pink pencil icon"></i></a>
                                                </div>
                                            </div>
                                    <%}%>
                                </div>
                            </div>
                        </div>
                    <%}%>
                    <!-- COMMENT LIST END -->
                    <%if(user){%>
                        <form class="ui reply form" method="POST" action="/posts/<%=post._id%>/comments">
                            <div class="field" id="comment-field">
                                    <textarea name="comment[text]" placeholder="Write a comment..." class="area-text"></textarea>
                            </div>
                            <input type="submit" class="ui blue submit icon button" value="Add Comment">
                        </form>
                    <%}%>
                </div>
            </div>
        </div>
        <!-- UI COMMENT END -->
    </div>
</div>
<!-- DELETE POST MODAL -->
<div class="ui basic modal" id="deletePostModal">
    <div class="ui icon header">
        <i class="trash icon"></i>
        Delete <%=post.title%>
    </div>
    <div class="content">
        <p>Are You Sure You Wish To Delete <%=post.title%>?</p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
        <i class="remove icon"></i>
        No
        </div>
        <form action="/posts/<%=post._id%>?_method=DELETE" method="POST" class="delete-form" id="delete-post">
            <div class="ui green ok inverted button">
                <i class="checkmark icon"></i>
                Yes
            </div>
        </form>
    </div>
</div>

<% include ../partials/footer %>